<div class="swiper-comment-wrap">
  <swiper-container
    init="false"
    slides-per-view="3"
    centeredSlides="true"
    speed="500"
    loop="true"
    space-between="300"
    #swiper>
    <!--      <swiper-slide style="color: white" *ngFor="let comment of comments">-->
    <!--        <app-comment-->
    <!--          [comment]="comment">-->
    <!--        </app-comment>-->
    <!--      </swiper-slide>-->

    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240" src="https://www.youtube.com/embed/ClIRkP64Q6g?si=YgDLqBJazo0ZBb6k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240"
                src="https://www.youtube.com/embed/OoKdkuD-gtM?si=n6CXda3a34sBq97q&amp;controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240" src="https://www.youtube.com/embed/ClIRkP64Q6g?si=YgDLqBJazo0ZBb6k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240"
                src="https://www.youtube.com/embed/OoKdkuD-gtM?si=2cIEcSGOTigUBUa_&amp;controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240" src="https://www.youtube.com/embed/ClIRkP64Q6g?si=YgDLqBJazo0ZBb6k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="video-slide">
        <iframe width="439" height="240"
                src="https://www.youtube.com/embed/Qq-RNtkgnRE?si=3NN_r36nP-kmYvDA&amp;controls=0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="prev-button" (click)="prev()">
    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
      <path
        d="M29.4001 10.7499L18.9001 20.9999L29.4001 31.2499L27.3001 35.3499L12.6001 20.9999L27.3001 6.6499L29.4001 10.7499Z"
        fill="white" fill-opacity="0.7"/>
    </svg>
  </div>
  <div class="next-button" (click)="next()">
    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
      <path
        d="M12.6001 10.7499L23.1001 20.9999L12.6001 31.2499L14.7001 35.3499L29.4001 20.9999L14.7001 6.6499L12.6001 10.7499Z"
        fill="white" fill-opacity="0.7"/>
    </svg>
  </div>
</div>

<div class="program-description__wrap">
  <div class="program-description">
    Сьогодні знайомимо Вас з ТЕАТРОМ ПАРОДІЙ ОЛЕГА ДЕРЛЮКА. Протягом 10 років творчий колектив підкорює українські та
    закордонні сцени! <br>
    В репертуарі понад 50 шоу-номерів, пародійних образів відомих зірок - ліричних, провокативних, драйвових та денсових.
    У супроводі шоу-балету «V.I.P.» пародист Олег Дерлюк відтворить кращих співаків сучасності.
  </div>
</div>

<app-button (click)="orderShowModal.show()" class="order-show-modal">
  {{lang['order'][i18n.lang]}}
</app-button>

<div class="main-popular__title show-parody">
  НАЙПОПУЛЯРНІШІ НОМЕРИ
</div>
<div class="main-popular__title__line-decor"></div>

<div class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of popularItemsArr"
    [item]="popularItem"
  ></app-popular-item>
</div>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
  ></app-order-show-modal>
</dialog>
