<app-slider-gallery></app-slider-gallery>

<div class="program-description__wrap">
  <div class="program-description">
    Сьогодні знайомимо Вас з ТЕАТРОМ ПАРОДІЙ ОЛЕГА ДЕРЛЮКА. Протягом 10 років творчий колектив підкорює українські та
    закордонні сцени! <br>
    В репертуарі понад 50 шоу-номерів, пародійних образів відомих зірок - ліричних, провокативних, драйвових та денсових.
    У супроводі шоу-балету «V.I.P.» пародист Олег Дерлюк відтворить кращих співаків сучасності.
  </div>
</div>

<app-button (click)="orderShowModal.show()" class="order-show-modal long-button">
  {{lang['order'][i18n.lang]}}
</app-button>

<div class="main-title show-parody">
  НАЙПОПУЛЯРНІШІ НОМЕРИ
</div>
<div class="main-title__line-decor"></div>

<div class="main-popular__item__wrap">
<!--  todo подставить данные из бд-->
<!--  <app-popular-item-->
<!--    *ngFor="let popularItem of popularItemsArr"-->
<!--    [item]="popularItem"-->
<!--  ></app-popular-item>-->
</div>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
  ></app-order-show-modal>
</dialog>
