<div class="page-wrap" #contactsForm>
  <div class="description admin-description" contenteditable="true" [innerHTML]="contacts['description_' + i18n.lang] || contactsDescriptionDefault"></div>

  <div class="contacts">
    <div class="contacts-block">
      <div class="contacts-title">
        Телефони:
      </div>
      <div class="contacts-wrap">
        <div class="contacts-input__wrap" *ngFor="let phone of contacts.phones; index as i">
          <input class="contacts-input phone-input" value="{{contacts.phones[i]}}">
          <div class="input-icon__wrap">
<!--            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">-->
<!--            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">-->
          </div>
        </div>
      </div>
    </div>
    <div class="contacts-block">
      <div class="contacts-title">
        Email:
      </div>
      <div class="contacts-wrap">
        <div class="contacts-input__wrap">
          <input class="contacts-input  email-input"
                 value="{{contacts.email}}"
                 placeholder="Вкажіть електронну пошту">
          <div class="input-icon__wrap">
<!--            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">-->
<!--            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-button class="admin-big-btn save-item-btn" (click)="saveContacts();">
    Зберегти
  </app-button>
</div>
