<div class="page-wrap">
  <div class="description">
    Переконаний, що життя має бути наповнене яскравими фарбами. Особливо під час важивих подій, сімейних свят. Наша
    команда перетворить Ваш захід у справжню феєрію, яку ви запам’ятаєте на все життя! У нашому репертуарі понад <a
    href="">30 танцювальних номерів</a> та <a href="">20 пародій</a>. Працюємо для Вас з повною віддачею!
  </div>

  <div class="contacts">
    <div class="contacts-block">
      <div class="contacts-title">
        Телефони:
      </div>
      <div class="contacts-wrap">
        <div class="contacts-input__wrap">
          <input class="contacts-input" value="+ 38 (099 )239-58-36">
          <div class="input-icon__wrap">
            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">
            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">
          </div>
        </div>
        <div class="contacts-input__wrap">
          <input class="contacts-input" value="+ 38 (099 )239-58-36">
          <div class="input-icon__wrap">
            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">
            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">
          </div>
        </div>
        <div class="contacts-input__wrap">
          <input class="contacts-input" value="+ 38 (099 )239-58-36">
          <div class="input-icon__wrap">
            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">
            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="contacts-block">
      <div class="contacts-title">
        Телефони:
      </div>
      <div class="contacts-wrap">
        <div class="contacts-input__wrap">
          <input class="contacts-input" placeholder="Вкажіть електронну пошту">
          <div class="input-icon__wrap">
            <img class="input-icon" src="assets/img/white-pencil.svg" alt="">
            <img class="input-icon" src="assets/img/white-tresh.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
