.page-wrap {
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

::ng-deep {
  .admin-description {
    background: #16182F;
    padding: 4px 18px;
    a {
      color: #5F61FB;
      font-family: Arial;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      text-decoration-line: underline;
    }
  }
}

.contacts {
  display: flex;
  column-gap: 64px;
  margin-top: 62px;
}

.contacts-block {

}

.contacts-input__wrap {
  position: relative;
}

.input-icon__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 13px;
}

.input-icon {
  cursor: pointer;
}

.contacts-input {
  display: flex;
  align-items: center;
  height: 46px;
  width: 261px;
  //padding: 0 68px 0 17px; большой паддинг, когда были справа кнопки редактирования и удаления
  padding: 0 20px 0 17px;
  margin-top: 12px;
  border-radius: 8px;
  background: #16182F;
  outline: none;
  border: none;
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.save-item-btn {
  justify-content: center;
  margin: 35px auto 0;
}
