.contacts-wrap {
  margin: 54px 0 170px;
}

.contacts {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 47px;
  padding: 0 46px;
  gap: 130px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("/assets/img/rider-decor.png");
    width: 74px;
    height: 335px;
  }

  .supervisor-block {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block-title {
    text-align: center;
  }

  .supervisor-name {
    margin-top: 50px;
  }

  .role {
    margin-top: 18px;
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }

  .contacts-description {
    margin-top: 17px;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;

    a {
      color: #5F61FB;
      text-decoration-line: underline;
    }
  }

  .phones-wrap, .email-wrap, .social-wrap {
    margin-top: 50px;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    ul {
      margin-top: 12px;
      padding-left: 17px;

      li {
        margin-bottom: 32px;
        position: relative;
        padding-left: 22px;
        list-style-image: url("/assets/img/gold-circle.png");

        span {
          position: relative;
          top: 3px;
        }
      }
    }
  }

  .email-wrap {
    margin-top: 42px;
  }
}

.social-icons {
  margin-top: 17px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.button-write {
  margin-top: 45px;
}
