.golden-text {
  background-image: url("/assets/img/gold-text.png");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.gallery {
  max-width: 1440px;
  margin: 54px auto 110px;
  box-sizing: border-box;
}

.block-title {
  text-align: center;
}

.img__wrap {
  position: relative;
}
.img__hover {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.70);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-img {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px;
}

img {
  border-radius: 8px;
  width: 100%;
}

img:hover + .img__hover {
  display: flex;
}

.img__hover:hover {
  display: flex;
}

@media only screen and (max-width: 570px) {
  .gallery {
    margin: 22px auto 50px;
  }
  .gallery-img {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
