<div class="header-wrap">
  <div class="header">
    <a routerLink="">
      <img class="logo-img" src="../../../assets/img/logo.svg" alt="">
    </a>
    <div class="menu">
      <div class="nav">
        <a routerLink="costume-rental">{{lang['costumeRental'][i18n.lang]}}</a>
        <a routerLink="gallery">{{lang['gallery'][i18n.lang]}}</a>
        <a routerLink="rider">{{lang['rider'][i18n.lang]}}</a>
        <a routerLink="contacts">{{lang['contacts'][i18n.lang]}}</a>
      </div>
      <div class="button-order">
        <app-button (click)="orderShowModal.show()">
          {{lang['order'][i18n.lang]}}
        </app-button>
      </div>
      <div class="lang">
        <div class="lang__item lang-ua active"
             [ngClass]="{'active': i18n.lang === 'ua'}"
             (click)="setLang('ua')"
             >UA</div>
        <div class="lang__item lang-en"
             [ngClass]="{'active': i18n.lang === 'en'}"
             (click)="setLang('en')">EN</div>
      </div>
    </div>
  </div>
  <div class="footer-line"></div>
</div>
<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
  ></app-order-show-modal>
</dialog>
