<div class="header-wrap">
  <div class="header">
    <a routerLink="">
      <img class="logo-img" src="../../../assets/img/logo.svg" alt="">
    </a>
    <div class="menu">
      <div class="nav">
        <a routerLink="costume-rental">Прокат костюмів</a>
        <a routerLink="gallery">Галерея</a>
        <a routerLink="rider">Райдер</a>
        <a routerLink="contacts">Контакти</a>
      </div>
      <div class="button-order">
        <app-button>
          ЗАМОВИТИ
        </app-button>
      </div>
      <div class="lang">
        <div class="lang__item lang-ua active">UA</div>
        <div class="lang__item lang-en">EN</div>
      </div>
    </div>
  </div>
  <div class="footer-line"></div>
</div>
