.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  width: 100%;
  padding: 0 14px 0 19px;
  margin-bottom: 37px;
  border-radius: 8px;
  background: #000213;

  color: #FFF;
  text-align: right;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.title-decor {
  display: flex;
  align-items: center;
  gap: 15px;
}
