<div class="header">
  <div class="title">
    Вітаємо у панелі управління!
  </div>
  <div class="title-decor">
    <div class="lang">
      <div class="lang__item__wrap">
        <div class="lang__item lang-ua active"
             [ngClass]="{'active': i18n.lang === 'ua'}"
             (click)="setLang('ua')"
        >UA</div>
        <div class="lang__item lang-en"
             [ngClass]="{'active': i18n.lang === 'en'}"
             (click)="setLang('en')">EN</div>
      </div>
      </div>

    Admin
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
      <circle cx="16.5" cy="16.5" r="16.5" fill="#272A4B"/>
    </svg>
  </div>
</div>
