

.main-popular {


  //&__title {
  //  color: #AEAFB4;
  //  font-family: Cambria;
  //  font-size: 30px;
  //  font-style: normal;
  //  font-weight: 700;
  //  line-height: 35px;
  //
  //  &__line-decor {
  //    height: 2px;
  //    width: 100vw;
  //    margin-top: 10px;
  //    position: absolute;
  //    left: 0;
  //    background: rgba(255, 255, 255, 0.10);
  //  }
  //}

  &__item {
    display: flex;

    //&:not(:first-child) {
    //  margin-top: 100px;
    //}

    //&:nth-child(2) {
    //  flex-direction: row-reverse;
    //
    //  .main-popular__item__img {
    //    &:before {
    //      right: 0;
    //      transform: rotateY(180deg);
    //    }
    //  }
    //}


    &__img {
      width: 50%;
      position: relative;
      z-index: 0;

      img {
        max-width: 100%;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 74px;
        height: 134px;
        background-image: url("/assets/img/popular-item-decor.png");
        z-index: -1;
      }
    }

    &__description {
      width: 50%;
      //удалить  (под вопросом)
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-family: Cambria;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        color: white;
        text-align: center;
      }

      .description {
        margin-top: 30px;
        color: #E6E6E6;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
      }
    }
  }
}
