<div class="comment__block">
  <div class="comment-header">
    <div class="photo-wrap">
      <img src="../../../assets/img/delete/ava.png" alt="" class="photo">
    </div>
    <div class="user-data">
      <div class="name">Anna</div>
      <div class="date">14.10.2021</div>
      <div class="rating">
        <img src="../../../assets/img/ic_baseline-star.svg" alt="" class="star">
        <img src="../../../assets/img/ic_baseline-star.svg" alt="" class="star">
        <img src="../../../assets/img/ic_baseline-star.svg" alt="" class="star">
        <img src="../../../assets/img/ic_baseline-star.svg" alt="" class="star">
        <img src="../../../assets/img/ic_baseline-star.svg" alt="" class="star">
      </div>
    </div>
  </div>
  <div class="comment">Вдячна колективу VIP за феєричну атмомсферу свята.
    Наші гості були у захваті, а наша родина назавжди запам’ятає цей Юбілей.
    Дякуємо за ваш професіоналізм і незабутній настрій!
  </div>
</div>
