.items__header,  .comment__header, .seo__header{
  margin-top: 30px;
  display:  flex;
  justify-content: space-between;
}

.item {
  display: flex;
  gap: 26px;
}

.item__wrap {
  margin-top: 30px;
}

.item__photo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 570px;
  height: 377px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
  .item__photo {
    object-fit: contain;
    width: 570px;
    max-height: 377px;
    border-radius: 8px;
  }
}

.title {
  font-family: Cambria;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  cursor: pointer;
  &.clickable:hover {
    color: #2E40E8;
    background-image: none;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-box-decoration-break: inherit;
  }
}

.item__description {
  margin-top: 19px;
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.number-title {
  margin-top: 20px;
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px
}

.number {
  margin-top: 3px;
  width: 220px;
  height: 46px;
  border-radius: 8px;
  background: #16182F;
  outline: none;
  border: none;
  text-align: center;
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.item-edit {
  position: absolute;
  bottom: 18px;
  right: 22px;
  display: flex;
  gap: 14px;
}

.save-item-btn {
  justify-content: center;
  margin-top: 53px;
}

.admin-input-wrap {
  background: #16182F;
  border-radius: 8px;
}
//input {
//  border: none;
//  outline: none;
//  &:hover {
//    //color: initial;
//  }
//  &.title {
//    width: 100%;
//    padding: 2px 18px;
//    border-radius: 8px;
//  }
//}

.item__title {
  outline: none;
  border: none;
  &:focus-visible {
    color: #C4C4C4;
    background: none;
    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    -webkit-box-decoration-break: initial;
  }
}

.content-editable {
  background: #16182F;
  padding: 4px 18px;
  outline: none;
  border: none;
  border-radius: 8px;
  &:focus-visible {
    color: #C4C4C4;
  }
  .item__title {
    cursor: text;
  }
}


.in-program, .duration {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Cambria;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  white-space: nowrap;
  .description {
    width: 100%;
    max-width: 431px;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    white-space: initial;
  }
}

.in-program {
  margin-top: 33px;
}

.duration {
  margin-top: 23px;
}

.seo-text__header {
  display: flex;
  justify-content: space-between;
  margin-top: 71px;
}

.seo-text {
  margin-top: 33px;
  min-height: 325px;
  color: rgba(255, 255, 255, 0.70);
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.item-form__wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

