:host {
  display: flex;
  justify-content: center;
}

.admin-main {
  display: flex;
  justify-content: center;
  background: #1D203E;
  //max-width: 1440px;
  width: 100%;
}

.admin-main__container {
  padding: 31px 41px 67px 36px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
}
::ng-deep {
  app-button {
    display: flex;
    &.admin-medium-btn {
      .button-wrap {
        padding: 2px;
      }
    }
    &.admin-medium-btn .button-wrap > button {
      height: 34px;
      min-width: 205px;
      padding: 0 20px;
      color: #F4F4F4;
      text-align: center;
      font-family: Arial;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }

    &.admin-big-btn {
      .button-wrap {
        padding: 3px;
        & > button {
          height: 48px;
          color: #F4F4F4;
          font-family: Arial;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 28px;
        }
      }
    }



    &.admin-icon .button-wrap {
      padding: 2px;
      & > button {
        width: 40px;
        height: 38px;
        padding: 0;
      }
    }
  }
}
