
.main {
  position: relative;
  width: 100%;
  background: #000213;

  //для позиционированния футера
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //.container {
  //  width: 100%;
  //  max-width: 1440px;
  //  margin: 0 auto;
  //}
}

app-header {
  position: sticky;
  top: 0;
  background: #000213;
  z-index: 1111;
}


