<div class="rider-wrap">
  <div class="rider">
    <div class="rider-img__wrap" *ngIf="showModal">
      <img src="../../../assets/img/rider-img.png" alt="">
    </div>
    <div class="rider-description">
      <div class="block-title golden-text">Райдер</div>
      <div class="rider-list">
        <ul>
          <li>
            <span>
              Просторна персональна гримерна кімната для колективу (від 10 кв.м.), бажано розташована поруч з концертним
            майданчиком, з наступними зручностями: стіл, дзеркало, стільці. У гримерці повинні бути: мінеральна вода б /
            г. (1,5л. / на кожного артиста), фрукти, упаковка вологих серветок. Кімната повинна замикатися чи
            охоронятися.
            </span>
          </li>
          <li>
            <span>
              Організатор/ сторона-замовник забезпечує повноцінне харчування для колективу, а також гарячий чай, кава,
            мінеральна вода без газу (1,5 л. / на кожного артиста). Перебування артистів на локації більше 6 годин:
            надання організатором / замовником 2-х разового харчування (обід / вечеря).
            </span>
          </li>
          <li>
            <span>
              Звук: носій USB - флеш; професійна апаратура, супровід звукорежисера / DJ. При замовленні шоу-програми
            театру пародій, необхідна наявність мікрофонної стійки і радіомікрофона - 2шт.
            </span>
          </li>
          <li>
            <span>Концертний майданчик не менше 10 кв.м.; вільного простору до стелі від 2,5 метрів.</span>
          </li>
          <li>
            <span>
            Виключені виступи на піску та мокрому від дощу майданчику.
          </span>
          </li>
          <li>
            <span>
              У разі затримки обумовленого таймінгом виходу / сценарію (понад 30 хвилин)
            з вини організатора / замовника, керівник колективу залишає за собою право скоротити шоу-програму на свій
            розсуд без зменшення гонорару. У разі скасування заходу організатором / замовником пізніше, ніж за три дні
            до призначеної дати - передоплата не повертається.

            </span>
          </li>
          <li>
            <span>
              На виїзд: комфортабельне розміщення всіх артистів в одному готелі
            (номери обов'язково повинні бути обладнані санвузлами та душовими кабінами).
            </span>
          </li>
          <li>
            <span>
              Для бронювання замовлення - передоплата 50% від вартості шоу.
            Залишок гонорару - по приїзду артистів на локацію.
            </span>
          </li>
        </ul>
      </div>
    </div>
    <app-button (click)="showModal = !showModal">
      <img class="download-icon" src="../../../assets/img/download-icon.svg" alt="">
      СКАЧАТИ
    </app-button>
    <app-button-request-call></app-button-request-call>
  </div>
</div>
