<div class="rider__wrap">
  <div class="block-title golden-text block-title__mobile">{{lang['rider'][i18n.lang]}}
  </div>
  <div class="rider main-container">
<!--    <div class="rider-img__wrap" *ngIf="showModal">-->

    <div class="rider-img__wrap">
      <img src="../../../assets/img/rider-img.png" alt="">
    </div>
    <div class="rider__description">
      <div class="block-title golden-text block-title__desktop">{{lang['rider'][i18n.lang]}}</div>
      <div class="rider__list">
        <ul>
          <li *ngFor="let list of riderData['data_'+ i18n.lang]['riderList']">
            <span [innerHTML]="list">

            </span>
          </li>
        </ul>
      </div>
    </div>
   <div class="buttons-wrap" >
     <div *ngIf="riderData['data_'+ i18n.lang]['file']">
       <a href="{{riderData['data_'+ i18n.lang]['file']}}" download>
         <app-button class="button-desktop">
           <img class="download-icon" src="../../../assets/img/download-icon.svg" alt="">
           {{lang['download'][i18n.lang]}}
         </app-button>
       </a>
     </div>
     <app-button-request-call
       (click)="orderCallModal.show()"
       class="button-desktop"></app-button-request-call>
   </div>

    <div class="download-mobile">
      <a *ngIf="riderData['data_'+ i18n.lang]['file']" href="{{riderData['data_'+ i18n.lang]['file']}}" download>
        <div class="download-btn">
          <img src="assets/img/download-mobile.png" alt="">
          {{lang['download'][i18n.lang]}}
        </div>
      </a>

      <app-button-request-call class="button-request-call__mobile"
        (click)="orderCallModal.show()"
      ></app-button-request-call>
    </div>
  </div>
</div>
<dialog #orderCallModal class="modal-dialog">
<!--  <app-order-show-modal-->
<!--    (close)="orderShowModal.close()"-->
<!--    (openSuccessModal)="successModal.show()"-->
<!--  ></app-order-show-modal>-->
  <app-order-call-modal
    (close)="orderCallModal.close()"
    (openSuccessModal)="successModal.show()">

  </app-order-call-modal>
</dialog>
<app-success-modal #successModal
                   (close)="successModal.close()"
></app-success-modal>
