.rider__wrap {
  margin-top: 54px;
}

.rider {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 47px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("/assets/img/rider-decor.png");
    background-repeat: no-repeat;
    width: 74px;
    height: 335px;
  }

  .block-title {
    text-align: center;
  }
}

.rider-img__wrap {
  float: left;
  margin-left: 40px;
}

.rider__list {
  margin-top: 22px;
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;

  li {
    margin-bottom: 32px;
    position: relative;
    padding-left: 25px;
    list-style-image: url("/assets/img/gold-circle.png");

    span {
      position: relative;
      top: 3px;
    }
  }
}

app-button {
  display: flex;
  justify-content: center;
}

app-button-request-call {
  display: flex;
  justify-content: right;
  margin-top: 12px;
}

.block-title__mobile {
  display: none;
}

.download-mobile {
  display: none;
  color: #8094FF;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

@media only screen and (max-width: 1100px) {
  .rider-img__wrap {
    img {
      width: 450px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .rider-img__wrap {
    img {
      width: 400px;
    }
  }
}

@media only screen and (max-width: 880px) {
  .rider-img__wrap {
    img {
      width: 350px;
    }
  }
  .rider__list li {
    list-style-position: inside;
    padding-left: 0;
  }
  .rider {
    &:before {
      background-size: 80%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .rider-img__wrap {
    img {
      width: 320px;
    }
  }
  .block-title__desktop {
    display: none;
  }
  .block-title__mobile {
    display: block;
    text-align: center;
    line-height: 52px;
  }
}

@media only screen and (max-width: 700px) {
  .rider-img__wrap {
    img {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .rider {
    &:before {
      background-size: 60%;
    }
  }
  .rider-img__wrap {
    margin-left: 0;

    img {
      width: 300px;
    }
  }

  .rider-img__wrap {
    img {
      width: 260px;
    }
  }

  .buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 40px;
  }
  .button-desktop {
    display: none;
  }
  app-button-request-call {
    margin-top: 0;
    position: absolute;
    right: 0;
  }
  .download-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .download-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 570px) {
  .rider__wrap {
    margin-top: 22px;
  }
  .rider {
    &:before {
      background-image: url("/assets/img/rider-decor-mobile.png");
      background-size: initial;
    }
  }
  .rider__list li {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 17px;
  }
  .block-title__mobile {
    line-height: 35px;
  }
}

@media only screen and (max-width: 540px) {

  .rider-img__wrap {
    img {
      width: 240px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .rider-img__wrap {
    img {
      width: 190px;
    }
  }
}

@media only screen and (max-width: 420px) {

  .rider-img__wrap {
    img {
      width: 170px;
    }
  }
}

@media only screen and (max-width: 400px) {

  .rider-img__wrap {
    img {
      width: 159px;
    }
  }
}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {
  .rider-img__wrap {
    img {
      width: 125px;
    }
  }
}
