<div class="modal-overlay" >
  <div class="modal-wrap">
    <div class="modal">
      <div class="modal-header">
        <div class="golden-text modal-title">
          Вхід для адміністратора
        </div>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="$event.preventDefault(); onFormSubmit(loginForm)" novalidate>
        <div class="inputs-wrap">
          <div class="user-info">
            <div class="name">
              <div class="input-title">
                Ваш login
              </div>
              <div class="input-wrap">
                <input class="text-input" placeholder="Введіть login" name='username' ngModel required>
              </div>
            </div>
            <div class="phone">
              <div class="input-title">
                Пароль
              </div>
              <div class="input-wrap">
                <input type="password" class="text-input" placeholder="Введіть пароль" name="password" ngModel required>
              </div>
            </div>
          </div>
        </div>
        <app-button class="modal-button">
          ВІДПРАВИТИ
        </app-button>
      </form>
    </div>
  </div>
</div>
