.swiper-comment-wrap {
  position: relative;

  .prev-button, .next-button {
    position: absolute;
    top: 100px;
    cursor: pointer;
    z-index: 111;
    &:hover {
      background: #35374b;
    }
  }

  .prev-button {
    left: 0;
  }

  .next-button {
    right: 0;
  }
}

.video-slide {
  display: flex;
  width: 439px;
  //height: 248px;
  //align-items: center;
  justify-content: center;
}
app-admin-slider-gallery-item {
  display: inline-block;
}
