
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  position: relative;
  color: #FFF;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  border-radius: 8px;
  background: #0D0F1F;
  outline: none;
  padding: 6px 70px;
  border: none;
  cursor: pointer;
}

.download-icon {
  width: 27px;
}

.button-wrap {
  padding: 3px;
  border-radius: 8px;
  background-image: url("/assets/img/gold-text.png");
}

.modal-button {
  .button-wrap {
    padding: 1px;
  }
}

@media only screen and (max-width: 570px) {
  .button-wrap {
    padding: 1px;
    border-radius: 8px;
    background-image: url("/assets/img/gold-text.png");
  }

  button {
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    padding: 7px 30px;
  }
}
