<!--<div class="swiper-comment-wrap">-->
<!--  <swiper-container-->
<!--    init="false"-->
<!--    slides-per-view="3"-->
<!--    centeredSlides="true"-->
<!--    speed="500"-->
<!--    loop="true"-->
<!--    space-between="300"-->
<!--    #swiper>-->
<!--    &lt;!&ndash;      <swiper-slide style="color: white" *ngFor="let comment of comments">&ndash;&gt;-->
<!--    &lt;!&ndash;        <app-comment&ndash;&gt;-->
<!--    &lt;!&ndash;          [comment]="comment">&ndash;&gt;-->
<!--    &lt;!&ndash;        </app-comment>&ndash;&gt;-->
<!--    &lt;!&ndash;      </swiper-slide>&ndash;&gt;-->

<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/i8zpkDJ5Qs8?si=qQ63OeNhNUbMXkm4&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/yea6NIXjBao?si=ur-yfImm8oPfAFzE&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/AUWlnK_7xwU?si=OX5N2j4yN3k4sVk0&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/fhr7O10w5ds?si=N_ZyFBmu6MrO5aMT&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/lfQJYr_8d-A?si=dq9rnqcy1pgZ0-dj&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <div class="video-slide">-->
<!--        <iframe width="439" height="240"-->
<!--                src="https://www.youtube.com/embed/AUWlnK_7xwU?si=OX5N2j4yN3k4sVk0&amp;controls=0"-->
<!--                title="YouTube video player" frameborder="0"-->
<!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
<!--                allowfullscreen></iframe>-->
<!--      </div>-->
<!--    </swiper-slide>-->
<!--  </swiper-container>-->
<!--  <div class="prev-button" (click)="prev()">-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">-->
<!--      <path-->
<!--        d="M29.4001 10.7499L18.9001 20.9999L29.4001 31.2499L27.3001 35.3499L12.6001 20.9999L27.3001 6.6499L29.4001 10.7499Z"-->
<!--        fill="white" fill-opacity="0.7"/>-->
<!--    </svg>-->
<!--  </div>-->
<!--  <div class="next-button" (click)="next()">-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">-->
<!--      <path-->
<!--        d="M12.6001 10.7499L23.1001 20.9999L12.6001 31.2499L14.7001 35.3499L29.4001 20.9999L14.7001 6.6499L12.6001 10.7499Z"-->
<!--        fill="white" fill-opacity="0.7"/>-->
<!--    </svg>-->
<!--  </div>-->
<!--</div>-->

<app-slider-gallery></app-slider-gallery>
<div class="program-description__wrap">
  <div class="program-description">«Show_ballet V.I.P.» – це любов до своєї справи. Найкращі танцювальні номери, яскраві образи та приголомшливі костюми, завжди нова шоу-програма, темперамент та 100% віддача. У наших шоу-номерах ідеальне поєднання хореографії, артистизму, елементів акробатики та трюків. У репертуарі понад 30 танцювальних номерів та шоу-програми різної тривалості та тематики: D.I.S.C.O. 80-х, гарячі латиноамериканські ритми та яскраві барви бразильського карнавалу, французький кан-кан і танці,танці,танці. Все це поєднує в собі ексклюзивний та фантастичний шоу-балет «V.I.P.»!
    Танцювальний колектив скрізь, де потрібне справжнє шоу, яскраве та феєричне: корпоративні свята, Новий рік, ювілеї, весілля, дні народження, презентації, виставки, клубні вечірки.
    Ми танцюємо душею і можемо зробити будь-яке свято незабутнім!</div>

</div>

<app-button (click)="orderShowModal.show()" class="order-show-modal">
  {{lang['order'][i18n.lang]}}
</app-button>

<div class="main-title show-parody">
  НАЙПОПУЛЯРНІШІ НОМЕРИ
</div>
<div class="main-title__line-decor"></div>

<div class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of popularItemsArr"
    [item]="popularItem"
  ></app-popular-item>
</div>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
  ></app-order-show-modal>
</dialog>
