
<!--<app-slider-gallery></app-slider-gallery>-->
<div class="program-description__wrap">
  <div class="program-description" [innerHTML]="mainText['mainText_' + i18n.lang]"></div>
</div>

<app-button (click)="orderShowModal.show()" class="order-show-modal long-button">
  {{lang['order'][i18n.lang]}}
</app-button>

<div class="main-title show-parody">
  {{lang['mostPopularItems'][i18n.lang]}}
</div>
<div class="main-title__line-decor"></div>

<div *ngIf="tableName == 'BalletPage'" class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of balletShowItems"
    [item]="popularItem"
  ></app-popular-item>
</div>

<div *ngIf="tableName == 'ParodyPage'" class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of parodyItems"
    [item]="popularItem"
  ></app-popular-item>
</div>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
    (openSuccessModal)="successModal.show()"
  ></app-order-show-modal>
</dialog>
<app-success-modal #successModal
                   (close)="successModal.close()"
></app-success-modal>
