
<app-slider-gallery *ngIf="gallery?.length"
  [indicator]="galleryIndicator"
  [gallery]="gallery"
></app-slider-gallery>
<div class="program-description__wrap">
  <div class="program-description" [innerHTML]="mainText['mainText_' + i18n.lang]"></div>
</div>

<div class="order-show-modal">
  <app-button (click)="orderShowModal.show()" class="long-button">
    {{lang['order'][i18n.lang]}}
  </app-button>
  <app-button-request-call
    (click)="orderCallModal.show()">
  </app-button-request-call>
</div>


<div class="main-title show-parody">
  {{lang['mostPopularItems'][i18n.lang]}}
</div>
<div class="main-title__line-decor"></div>

<div *ngIf="tableName == 'BalletPage'" class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of balletShowItems"
    [item]="popularItem"
  ></app-popular-item>
</div>

<div class="main-popular__another" *ngIf="tableName == 'BalletPage'">
  <div class="title">{{lang['balletShowItemsAdditionalTitle'][i18n.lang]}}</div>
  <div class="subtitle">{{lang['balletShowItemsAdditionalSubTitle'][i18n.lang]}}</div>
  <div class="another-items">
    <div class="item" *ngFor="let item of balletShowItemsAdditional">
      <a href="" [routerLink]="['item-details', item?.id]" [queryParams]="{type: 2}">
        {{item['title_' + i18n.lang]}}
      </a>
    </div>
  </div>
</div>

<div *ngIf="tableName == 'ParodyPage'" class="main-popular__item__wrap">
  <app-popular-item
    *ngFor="let popularItem of parodyItems"
    [item]="popularItem"
  ></app-popular-item>
</div>

<div class="main-popular__another" *ngIf="tableName == 'ParodyPage'">
  <div class="title">{{lang['parodyItemsAdditionalTitle'][i18n.lang]}}</div>
  <div class="subtitle">{{lang['parodyItemsAdditionalSubTitle'][i18n.lang]}}</div>
  <div class="another-items">
    <div class="item" *ngFor="let item of parodyItemsAdditional">
      <a href="" [routerLink]="['item-details', item?.id]" [queryParams]="{type: 2}">
        {{item['title_' + i18n.lang]}}
      </a>
    </div>
  </div>
</div>

<dialog #orderCallModal class="modal-dialog">
  <!--  <app-order-show-modal-->
  <!--    (close)="orderShowModal.close()"-->
  <!--    (openSuccessModal)="successModal.show()"-->
  <!--  ></app-order-show-modal>-->
  <app-order-call-modal
    (close)="orderCallModal.close()"
    (openSuccessModal)="successModal.show()">

  </app-order-call-modal>
</dialog>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
    (openSuccessModal)="successModal.show()"
  ></app-order-show-modal>
</dialog>
<app-success-modal #successModal
                   (close)="successModal.close()"
></app-success-modal>
