
<div class="item-details__wrap main-container">
  <div class="item-details">
    <div class="item-details-img__wrap">
      <img src="{{item && item.photo}}" alt="">
    </div>
    <div class="item-details__description">
      <div class="block-title golden-text">{{item && item['title_' + i18n.lang]}}</div>
      <div class="description" [innerHTML]="item && item['description_' + i18n.lang]">
      </div>
      <div class="program">
        <div class="golden-text golden-text-low no-wrap">
          {{lang['inProgram'][i18n.lang]}}:
        </div>
        <span [innerHTML]="item && item['inProgram_' + i18n.lang]"></span>
      </div>
      <div class="duration">
        <div class="golden-text golden-text-low no-wrap">
          {{lang['duration'][i18n.lang]}}:
        </div>
        <span [innerHTML]="item && item['duration_' + i18n.lang]"></span>
      </div>
    </div>
  </div>

  <app-button (click)="orderShowModal.show()">
    {{lang['order'][i18n.lang]}}
  </app-button>

  <div class="item-details__gallery" *ngIf="gallery?.length">
    <div class="main-title">
      {{lang['gallery'][i18n.lang]}}
    </div>
    <div class="main-title__line-decor"></div>
    <app-slider-gallery
      [indicator]="galleryIndicator"
      [gallery]="gallery"
    ></app-slider-gallery>
  </div>

  <div class="main-popular__comments" *ngIf="comments?.length">
    <div class="main-title">
      {{lang['reviews'][i18n.lang]}}
    </div>
    <div class="main-title__line-decor" ></div>
    <app-slider-comment
      [comments]="comments"
    ></app-slider-comment>
  </div>

<!--  todo leaveFeedbackModal-->
  <div class="leave-feedback-button__wrap" *ngIf="false">
    <app-button class="leave-feedback-button"
                (click)="leaveFeedbackModal.show()"
    >{{lang['leaveFeedback'][i18n.lang]}}
    </app-button>
  </div>
<!--  <div class="main-page__description" [innerHTML]="item && item['seoText_' + i18n.lang]"></div>-->

</div>

<dialog #orderShowModal class="modal-dialog">
  <app-order-show-modal
    (close)="orderShowModal.close()"
    (openSuccessModal)="successModal.show()"
  ></app-order-show-modal>
</dialog>

<app-success-modal #successModal
  (close)="successModal.close()"
></app-success-modal>

<dialog #leaveFeedbackModal class="modal-dialog">
  <app-leave-feedback-modal
    (close)="leaveFeedbackModal.close()"
  ></app-leave-feedback-modal>
</dialog>

