<div class="main-page">
  <div class="main-page__banner">
    <img class="main-page__banner__img" src="{{pageData.mainPhoto}}" alt="">
    <app-button-request-call
      (click)="orderCallModal.show()"
      class="button-desktop">
    </app-button-request-call>
  </div>
  <div class="font-size-0">
    <img class="main-page__banner__decor" src="../../../assets/img/banner-line-decor.png" alt="">
  </div>
  <div class="main-page__tabs" id="ballet-show">
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="ballet-show"
       routerLinkActive="active">
      {{lang['showBalletVip'][i18n.lang]}}
    </a>
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="parody-theater"
       routerLinkActive="active">
      {{lang['parodyTheater'][i18n.lang]}}
    </a>
  </div>
  <div class="main-page__tabs__decor"></div>
  <div class="main-page__body main-container">
    <div class="main-popular">
      <router-outlet></router-outlet>
    </div>
    <div class="main-popular__comments" *ngIf="comments?.length">
      <div class="main-title">
        {{lang['reviews'][i18n.lang]}}
      </div>
      <div class="main-title__line-decor"></div>
      <app-slider-comment
        [comments]="comments"
      ></app-slider-comment>
    </div>
<!--todo-->

    <div class="leave-feedback-button__wrap" *ngIf="false">
      <app-button class="leave-feedback-button"
                  (click)="leaveFeedbackModal.show()"
      >{{lang['leaveFeedback'][i18n.lang]}}
      </app-button>
    </div>

    <div class="main-page__description" [innerHTML]="pageData['seoText_'+i18n.lang]"></div>
  </div>


  <div class="main-page__container">

  </div>
</div>

<dialog #orderCallModal class="modal-dialog">
  <!--  <app-order-show-modal-->
  <!--    (close)="orderShowModal.close()"-->
  <!--    (openSuccessModal)="successModal.show()"-->
  <!--  ></app-order-show-modal>-->
  <app-order-call-modal
    (close)="orderCallModal.close()"
    (openSuccessModal)="successModal.show()">

  </app-order-call-modal>
</dialog>
<app-success-modal #successModal
                   (close)="successModal.close()"
></app-success-modal>

<dialog #leaveFeedbackModal class="modal-dialog">
  <app-leave-feedback-modal
    (close)="leaveFeedbackModal.close()"
  ></app-leave-feedback-modal>
</dialog>

