
.main-page {

}

.golden-text {
  background-image: url("/assets/img/gold-text.png");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.font-size-0 {
  font-size: 0;
}

.main-page__banner__decor {
  width: 100%;
}

.main-page__banner {
  font-size: 0;
  margin-top: -1px;
  position: relative;

  &__img {
    width: 100%;
  }
}
app-button-request-call {
  &.button-desktop {
    position: absolute;
    bottom: 28px;
    right: 47px;
  }
}

.main-page__tabs {
  display: flex;
  gap: 10%;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 10px;
  color: rgba(243, 243, 243, 0.70);
  text-align: center;
  font-family: Cambria;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;

  .tab {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    padding: 0 15px;

    &.active {
      position: relative;
      color: #F9F9F9;

      &:before {
        content: '';
        position: absolute;
        bottom: -11px;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-image: url("/assets/img/active-tab-line.png");
        background-size: cover;
      }
    }
  }

}

.main-page__tabs__decor {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.10);
}

.main-page__body {
  max-width: 1440px;
  margin: 0 auto 200px;
}

.main-popular {
  margin: 33px auto;
}

.main-popular__comments {
  display: block;
  margin-top: 160px;
}

.main-page__description {
  margin: 115px auto 0;
  max-width: 1250px;
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

app-slider-comment {
  display: block;
  margin-top: 63px;
}

.swiper-comment-wrap {
  position: relative;
  padding: 0 50px;

  .prev-button, .next-button {
    position: absolute;
    top: 47%;
    cursor: pointer;
  }

  .prev-button {
    left: -10px;
  }

  .next-button {
    right: -10px;
  }
}

.leave-feedback-button {
  display: flex;
  justify-content: center;
  margin-top: 90px;

  &__wrap {
    display: flex;
    justify-content: center;
  }
}

//mobile

@media only screen and (max-width: 980px) {
  app-button-request-call {
    &.button-desktop {
      display: none;
    }
  }
}

@media only screen and (max-width: 570px) {
  .main-page__banner__img {
      height: 239px;
      object-fit: cover;
  }

  .main-page__tabs {
    margin-top: 28px;
    padding-bottom: 9px;
    color: rgba(243, 243, 243, 0.70);
    font-size: 17px;
    line-height: 18px;
    gap: 10px;

    .tab {
      padding: 0 13px;
    }
  }

  .main-popular__comments {
    margin-top: 64px;
  }

  .leave-feedback-button {
    margin-top: 50px;
  }
  .main-page__description {
    margin: 61px auto 0;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 360px) {

}
