<div class="main-page">
  <div class="main-page__banner">
    <img class="main-page__banner__img" src="../../../assets/img/main-banner.png" alt="">
  </div>
  <div class="font-size-0">
    <img class="main-page__banner__decor" src="../../../assets/img/banner-line-decor.png" alt="">
  </div>
  <div class="main-page__tabs">
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="ballet-show"
       routerLinkActive="active">
      ШОУ-БАЛЕТ V.I.P
    </a>
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="parody-theater"
       routerLinkActive="active">
      ТЕАТР ПАРОДІЙ
    </a>
  </div>
  <div class="main-page__tabs__decor"></div>
  <div class="main-page__body">
    <div class="main-popular">
      <div class="main-popular__title">
        НАЙПОПУЛЯРНІШІ НОМЕРИ
      </div>
      <div class="main-popular__title__line-decor"></div>
      <router-outlet></router-outlet>

    </div>
    <div class="main-popular__another">
      <div class="title">НЕ ЗНАЙШЛИ ТАНЕЦЬ, ЯКИЙ БИ ХОТІЛИ ЗАМОВИТИ НА СВЯТО?</div>
      <div class="subtitle">У нашому репертуарі є номери:</div>
      <div class="another-items">
        <div class="item">Хеловін</div>
        <div class="item">Віденський вальс</div>
        <div class="item">Бурлеск</div>
        <div class="item">Циганський</div>
        <div class="item">Кан-кан</div>
        <div class="item">Куба паті</div>
        <div class="item">Хеловін</div>
        <div class="item">Хеловін</div>
        <div class="item">Хеловін</div>
      </div>
    </div>
    <div class="main-popular__comments">
      <div class="main-popular__title">
        ВІДГУКИ
      </div>
      <div class="main-popular__title__line-decor"></div>

      <div class="swiper-comment-wrap">
        <swiper-container
          init="false"
          slides-per-view="3"
          centeredSlides="true"
          speed="500"
          loop="true"
          space-between="30"
          #swiper>
          <swiper-slide style="color: white" *ngFor="let comment of comments">
            <app-comment
              [comment]="comment">
            </app-comment>
          </swiper-slide>

        </swiper-container>
        <!--        <div class="next" style="color: white" (click)="next()">NEXT</div>-->
        <div class="prev-button" (click)="prev()">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
            <path
              d="M29.4001 10.7499L18.9001 20.9999L29.4001 31.2499L27.3001 35.3499L12.6001 20.9999L27.3001 6.6499L29.4001 10.7499Z"
              fill="white" fill-opacity="0.7"/>
          </svg>
        </div>
        <div class="next-button" (click)="next()">
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
            <path
              d="M12.6001 10.7499L23.1001 20.9999L12.6001 31.2499L14.7001 35.3499L29.4001 20.9999L14.7001 6.6499L12.6001 10.7499Z"
              fill="white" fill-opacity="0.7"/>
          </svg>
        </div>

      </div>


    </div>

    <div class="main-page__description">
      Шоу-балет V.I.P. зробить атмосферу вашого свята феєричною! Ми вміємо робити весілля,
      дні народження, вечірки та сюрпризи яскравими та незабутніми.
      Танцювальний колектив має великий досвід, тому ми підберемо репертуар саме
      для вашого свята. Міста проведення: Київ, Житомир, Полтава, Харків, Дніпро
      та вся Україна. Можлива організація шоу за кордоном, за попереднім узгодженням.
      У передноворічний період рекомендуємо замовляти свято заздалегідь.
      Ми маємо вінмінні номери з Дідом Морозом та Снігуркою. Віп балет - це краще
      шоу України. У нас є номери у стилі бразильського шоу, самби “Карнавал”, стюардес,
      поліції, рок-н-ролу, бугі-вугі, кан-кану, гавайському, янголів, східному, кантрі ,
      національному, диско та багато іншого. Ще пропонуємо незабутні номери пародій
      від Олега Дерлюка. Це відмінне шоу двійників на ваше свято.
    </div>
  </div>


  <div class="main-page__container">

  </div>
</div>
