<div class="main-page">
  <div class="main-page__banner">
    <img class="main-page__banner__img" src="../../../assets/img/main-banner.png" alt="">
  </div>
  <div class="font-size-0">
    <img class="main-page__banner__decor" src="../../../assets/img/banner-line-decor.png" alt="">
  </div>
  <div class="main-page__tabs">
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="ballet-show"
       routerLinkActive="active">
      ШОУ-БАЛЕТ V.I.P
    </a>
    <a class="tab-wrap parody-theater__tab tab"
       routerLink="parody-theater"
       routerLinkActive="active">
      ТЕАТР ПАРОДІЙ
    </a>
  </div>
  <div class="main-page__tabs__decor"></div>
  <div class="main-page__body main-container">
    <div class="main-popular">
      <router-outlet></router-outlet>
    </div>
    <div class="main-popular__another">
      <div class="title">НЕ ЗНАЙШЛИ ТАНЕЦЬ, ЯКИЙ БИ ХОТІЛИ ЗАМОВИТИ НА СВЯТО?</div>
      <div class="subtitle">У нашому репертуарі є номери:</div>
      <div class="another-items">
        <div class="item">Хеловін</div>
        <div class="item">Віденський вальс</div>
        <div class="item">Дженіфер Лопес</div>
        <div class="item">Михайло Поплавський</div>
        <div class="item">Кан-кан</div>
        <div class="item">Куба паті</div>
        <div class="item">Хеловін</div>
        <div class="item">Хеловін</div>
        <div class="item">Хеловін</div>
      </div>
    </div>
    <div class="main-popular__comments">
      <div class="main-title">
        ВІДГУКИ
      </div>
      <div class="main-title__line-decor"></div>
      <app-slider-comment
        [comments]="comments"
      ></app-slider-comment>
    </div>

    <div class="leave-feedback-button__wrap">
      <app-button class="leave-feedback-button"
                  (click)="leaveFeedbackModal.show()"
      >ЗАЛИШИТИ ВІДГУК
      </app-button>
    </div>

    <div class="main-page__description">
      Шоу-балет V.I.P. зробить атмосферу вашого свята феєричною! Ми вміємо робити весілля,
      дні народження, вечірки та сюрпризи яскравими та незабутніми.
      Танцювальний колектив має великий досвід, тому ми підберемо репертуар саме
      для вашого свята. Міста проведення: Київ, Житомир, Полтава, Харків, Дніпро
      та вся Україна. Можлива організація шоу за кордоном, за попереднім узгодженням.
      У передноворічний період рекомендуємо замовляти свято заздалегідь.
      Ми маємо вінмінні номери з Дідом Морозом та Снігуркою. Віп балет - це краще
      шоу України. У нас є номери у стилі бразильського шоу, самби “Карнавал”, стюардес,
      поліції, рок-н-ролу, бугі-вугі, кан-кану, гавайському, янголів, східному, кантрі ,
      національному, диско та багато іншого. Ще пропонуємо незабутні номери пародій
      від Олега Дерлюка. Це відмінне шоу двійників на ваше свято.
    </div>
  </div>


  <div class="main-page__container">

  </div>
</div>

<dialog #leaveFeedbackModal class="modal-dialog">
  <app-leave-feedback-modal
    (close)="leaveFeedbackModal.close()"
  ></app-leave-feedback-modal>
</dialog>

