<div class="menu__wrap">
  <img class="logo-img" src="../../../assets/img/logo.svg" alt="">
  <div class="menu">
    <div class="page">
     <div class="page-name">
       <a class="menu-link" routerLink="ballet-page" routerLinkActive="active">Головна балет</a>
       <div class="hide-menu-items" (click)="hideBalletShowItems = !hideBalletShowItems">
         <img class="" src="../../../assets/img/menu-arrow.png" alt="">
       </div>
     </div>
      <ul *ngIf="hideBalletShowItems">
        <li *ngFor="let balletShowItem of balletShowItems" [routerLink]="['ballet-page/item-details', balletShowItem?.id]">
          <span class="page-item">{{balletShowItem['title_' + i18n.lang]}}</span>
        </li>
      </ul>
    </div>
    <div class="page">
      <div class="page-name">
      <a class="menu-link" routerLink="parody-page" routerLinkActive="active">Головна пародії</a>
      <div class="hide-menu-items" (click)="hideBalletShowItems = !hideBalletShowItems">
        <img class="" src="../../../assets/img/menu-arrow.png" alt="">
      </div>
    </div>
      <ul *ngIf="hideBalletShowItems">
        <li *ngFor="let balletShowItem of balletShowItems" [routerLink]="['ballet-page/item-details', balletShowItem?.id]">
          <span class="page-item">{{balletShowItem['title_' + i18n.lang]}}</span>
        </li>
      </ul>
    </div>
    <div class="page">Прокат костюмів</div>
    <div class="page">
      <a class="menu-link" routerLink="gallery" routerLinkActive="active">Галерея</a>
    </div>
    <div class="page">
      <a class="menu-link" routerLink="rider" routerLinkActive="active">Райдер</a>
    </div>

    <div class="page">
      <a class="menu-link" routerLink="contacts" routerLinkActive="active">Контакти</a>
    </div>

    <div class="line-decor"></div>

    <div class="exit">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
        <path d="M2.8 17.4167V17.4167V4.58333C2.8 4.09255 2.97432 3.67348 3.32436 3.32344C3.6744 2.9734 4.09314 2.79941 4.58327 2.8H4.58333H10.95V4.53333H4.58333H4.53333V4.58333V17.4167V17.4667H4.58333H10.95V19.2H4.58333C4.09255 19.2 3.67348 19.0257 3.32344 18.6756C2.9734 18.3256 2.79941 17.9069 2.8 17.4167ZM15.7437 11.8667H8.3V10.1333H15.7437H15.8645L15.7791 10.048L13.476 7.74491L14.6676 6.48833L19.1793 11L14.6676 15.5117L13.476 14.2551L15.7791 11.952L15.8645 11.8667H15.7437Z" fill="white" stroke="#000213" stroke-width="0.1"/>
      </svg>
      <div>Вихід</div>
    </div>
  </div>
</div>
