/* You can add global styles to this file, and also import other style files */
@import '~reset-css';
@import "fonts";

//1200px
//992px
//768px
//640px
//570px - смена шрифта на мобильный
//480px
//320px


//удалить, если в админке не будет такого фона
body {
  background: #000213;
}

html, body, * {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.golden-text {
  background-image: url("/assets/img/gold-text.png");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.block-title {
  font-family: Cambria;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.modal-title {
  text-align: center;
  font-family: Cambria;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.modal-dialog {
  position: absolute;
  z-index: 1111;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.content-editable {
  background: #16182F;
  padding: 4px 18px;
  outline: none;
  border: none;
  border-radius: 8px;
}

app-button {
  width: fit-content;
  &.modal-button {
    margin: 44px auto 0;
    display: flex;
    justify-content: center;

    .button-wrap {
      padding: 1px;

      button {
        padding: 6px 40px;
        color: rgba(255, 255, 255, 0.90);
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 146.667% */
      }
    }
  }
}


.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  //height: 42px;
  //padding: 4px 3px;
  padding: 1px 1px;
  background-image: url("/assets/img/gold-text.png");
  border-radius: 4px;
}

input.text-input, textarea {
  height: 36px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border-radius: 4px;
  background: #000213;
  border: none;
  color: white;
  font-size: 14px;
}
.required-field {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 4px;
}
input.text-input {
  &.ng-dirty.ng-invalid {
    border: 2px solid red;
    margin: -1px;
    width: 101%;
  }
}
textarea {
  &.ng-dirty.ng-invalid {
    border: 2px solid red;
    margin: -1px;
    width: 101%;
    height: 102%!important;
  }
}

.main-container {
  padding: 0 46px;
}

@media only screen and (max-width: 800px) {
  .main-container {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 480px) {
  .main-container {
    padding: 0 19px;
  }
}

.main-title, .main-title__admin {
  color: #AEAFB4;
  font-family: Cambria;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;

  &.show-parody {
    margin-top: 100px;
  }

  &__line-decor {
    height: 2px;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.10);
  }
}

.main-title__admin {
  color: #FFFFFF;
}
 //прелоадер начало
.preloader {
  display: none;
  z-index: 11111;
  position: absolute;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.55);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
//Прелоадер - конец


@media only screen and (max-width: 570px) {
  //app-button {
  //  &.modal-button {
  //    margin: 44px auto 0;
  //    display: flex;
  //    justify-content: center;
  //
  //    .button-wrap {
  //      padding: 1px;
  //
  //      button {
  //        padding: 6px 40px;
  //        color: rgba(255, 255, 255, 0.90);
  //        text-align: center;
  //        font-family: Arial;
  //        font-size: 15px;
  //        font-style: normal;
  //        font-weight: 700;
  //        line-height: 22px;
  //      }
  //    }
  //  }
  //
  //  &.long-button {
  //    button {
  //      padding: 6px 60px;
  //    }
  //  }
  //}

  .main-title {
    color: #AEAFB4;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;

    &.show-parody {
      margin-top: 55px;
    }
  }

  .modal-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
  }
 .block-title {
   font-size: 22px;
   line-height: 35px;
 }
}
