/* You can add global styles to this file, and also import other style files */
@import '~reset-css';
@import "fonts";

//1200px
//992px
//768px
//640px
//570px - смена шрифта на мобильный
//480px
//320px


//удалить, если в админке не будет такого фона
body {
  background: #000213;
}

html, body, * {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.golden-text {
  background-image: url("/assets/img/gold-text.png");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.block-title {
  font-family: Cambria;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.modal-title {
  text-align: center;
  font-family: Cambria;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.modal-dialog {
  position: absolute;
  z-index: 1111;
  width: 100vw;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

app-button {
  &.modal-button {
    margin-top: 44px;
    display: flex;
    justify-content: center;

    .button-wrap {
      padding: 1px;

      button {
        padding: 6px 40px;
        color: rgba(255, 255, 255, 0.90);
        text-align: center;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 146.667% */
      }
    }
  }
}

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  //height: 42px;
  //padding: 4px 3px;
  padding: 1px 1px;
  background-image: url("/assets/img/gold-text.png");
  border-radius: 4px;
}

input.text-input, textarea {
  height: 36px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border-radius: 4px;
  background: #000213;
  border: none;
  color: white;
  font-size: 14px;
}

.main-container {
  padding: 0 46px;
}

@media only screen and (max-width: 800px) {
  .main-container {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 480px) {
  .main-container {
    padding: 0 19px;
  }
}

.main-title {
  color: #AEAFB4;
  font-family: Cambria;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;

  &.show-parody {
    margin-top: 100px;
  }

  &__line-decor {
    height: 2px;
    width: 100vw;
    margin-top: 10px;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.10);
  }
}

@media only screen and (max-width: 570px) {
  app-button {
    &.modal-button {
      margin-top: 44px;
      display: flex;
      justify-content: center;

      .button-wrap {
        padding: 1px;

        button {
          padding: 6px 40px;
          color: rgba(255, 255, 255, 0.90);
          text-align: center;
          font-family: Arial;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
        }
      }
    }

    &.long-button {
      button {
        padding: 6px 60px;
      }
    }
  }

  .main-title {
    color: #AEAFB4;
    font-size: 17px;
    font-weight: 700;
    line-height: 35px;

    &.show-parody {
      margin-top: 55px;
    }
  }
}
